<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Student</title>
 <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <h1>Create Student</h1>

    <hr>

   
    <hr>
    <form method="post" action="/Home/createstudent">

        <p>Name</p>
        <input type="text" name="Name" placeholder="string" />
        <br><br>

        <p>Password</p>
        <input type="text" name="Password" placeholder="string" />
        <br><br>
        
        <p>Email</p>
        <input type="text" name="Email" placeholder="string" />
        <br><br>

        <p>Subscribed</p>
        <input type="number" name="Subscribed" placeholder="int(1)" />
        <br><br>

        <p>Role</p>
        <input type="number" name="Role" placeholder="int(1)" />
        <br><br>

        <p>Payment Info</p>
        <input type="number" name="Paymentinfo" placeholder="16-digit int" />
        <br><br>

        <input type="submit" />
    </form>


</body>
</html>