<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>
    <div class="row">
        <br><br>
        <div class="col-md-6">
            <a href="/Home/Mentor"><button type="button" class="btn btn-success">Log in as mentor</button></a>
            <a href="/Home/StudentPage"><button type="button" class="btn btn-primary">Log in as student</button></a>
        </div>
    </div>
    
</body>
</html>