<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online</title>
</head>
<body>
        <br><br>
            <a href="/Home/Offline"><button type="button" class="btn btn-default">Change to offline page</button></a>

<br>
    <form method = "post" action = "/Home/Online">
    <p> ID </p>
    <input type = "number" required = "required" name = "ID" placeholder = "number"/>
    <input type = "submit" placeholder = "Show as Online"/>
    </form>

</body>
</html>