<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send Mail Student</title>
 <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    
    <h1>Send Message to Mentor</h1>
 <a href="/Home/StudentPage"><button>Back to Student Page</button></a>
    <hr>

    <a href="Index"><button>Archive</button></a>
    <a href="Search"><button>Search Archive</button></a>
    <a href="Entry/13"><button>Back to Comic</button></a>

    <hr>
    <form method="post" action="/Home/SendMailStudent">
        <!-- Lav dette til dropdown med liste over navne på students -->
        <p>Sender</p>
        <input type="text" name="Sender" placeholder="string" />
        <br><br>
        <!-- Lav dette til dropdown med liste over navne på mentors -->
        <p>Receiver</p>
        <input type="text" name="Receiver" placeholder="string" />
        <br><br>
        
        <p>Topic</p>
        <input type="text" name="Topic" placeholder="string" />
        <br><br>

        <p>Text</p>
        <input type="text" name="Text" placeholder="string" />
        <br><br>


        <input type="submit" />
    </form>


</body>
</html>