<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Page</title>

    <a href="/Home/Subscribe"><button>Subscribe</button></a>
    <a href="/Home/Unsubscribe"><button>Unsubscribe</button></a>
</head>
<body>
</body>
</html>