<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unsubscribe</title>
</head>
<body>

        <a href="/Home/StudentPage"><button>Back to Student Page</button></a>
        <a href="/Home/subscribe"><button>Subscribe</button></a>

    <form method = "post" action = "/Home/Unsubscribe">
    <p> ID </p>
    <input type = "number" required = "required" name = "ID" placeholder = "number"/>
    <input type = "submit"/>
    </form>
</body>
</html>