<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Mentor</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <h1>Update Mentor</h1>

    <hr>

  

    <hr>
    <form method="post" action="/Home/UpdateMentor">
    
        <p>ID</p>
        <input type="number" required="required" name="ID" placeholder="number" />
        <br><br>

        <p>Name</p>
        <input type="text" name="Name" placeholder="string" />
        <br><br>

        <p>Password</p>
        <input type="text" name="Password" placeholder="string" />
        <br><br>
        
        <p>Email</p>
        <input type="text" name="Email" placeholder="string" />
        <br><br>

        <p>Subjects</p>
        <input type="text" name="Subjects" placeholder="string" />
        <br><br>

        <p>Role</p>
        <input type="number" name="Role" placeholder="int(1)" />
        <br><br>

        <p>Online</p>
        <input type="number" name="Online" placeholder="0" />
        <br><br>

        <p>Imgur-URL</p>
        <input type="text" name="Imgurl" placeholder="string" />
        <br><br>

        <input type="submit" />
    </form>
</body>
</html>